html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    word-break: keep-all;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0px;
}


@media screen and (max-width: 1200px) {
    main {
        padding: 20px 10px;
    }
}