html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    word-break: keep-all;
    min-width: 500px;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* swiper */
.swiper {
    width: 100%;
    padding-bottom: 30px;
    padding: 10px 15px 30px 15px;
}

@media screen and (max-width: 1200px) {
    main {
        padding: 20px 10px;
    }
}

@media screen and (max-width: 900px) {
    .homeNav {
        display: none !important;
    }
}