.site-footer {
    background-color: #111;
    color: #e3e3e3;
    padding-top: 0;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Noto Sans KR', sans-serif;

    .footer-top {
        background-color: #f9f9f9;
        padding: 20px 10px;

        .footer-top-slogan {
            max-width: 1200px;
            margin: 0 auto;
            color: black;
            display: flex;
            align-items: center;
        }
    }

    a {
        color: #bbb;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #fff;
        }
    }

    .footer-middle {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        padding: 20px 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        gap: 32px;
        margin-bottom: 30px;
    }

    .footer-slogan {
        font-size: 16px;
        color: #ccc;
        grid-column: span 2;
    }

    .footer-links,
    .footer-contact {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .footer-social {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .social-text {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: bold;
        }
    }

    .footer-social a img {
        width: 24px;
        height: 24px;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .footer-bottom {
        border-top: 1px solid #333;
        padding-top: 20px;
        text-align: center;
        color: #666;
        font-size: 12px;
    }

    @media screen and (max-Width:1200px) {
        .footer-slogan {
            grid-column: span 1 !important;
        }
    }

    @media screen and (max-Width:950px) {
        .footer-middle {
            grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
        }
    }


    @media (max-width: 768px) {
        .footer-middle {
            grid-template-columns: 1fr;
        }
    }
}