.pageup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;

    .pageup-button {
        width: 40px;
        height: 40px;
        background-color: #000000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: white;

        &:hover {
            background-color: #3f3f3f;
        }
    }
}